binds {
    Ctrl+Alt+Delete hotkey-overlay-title="Power Menu: Toggle" { spawn "dms" "ipc" "call" "powermenu" "toggle"; }
    Mod+Shift+S { spawn "dms" "screenshot"; }
    Super+Alt+C { spawn "dms" "color" "pick" "-a"; }
    Super+Alt+L hotkey-overlay-title="Lock Screen" { spawn "dms" "ipc" "call" "lock" "lock"; }
    Super+Alt+V hotkey-overlay-title="Clipboard: Toggle" { spawn "dms" "ipc" "call" "clipboard" "toggle"; }
    Mod+W { spawn "vivaldi"; }
    Super+E { spawn "dolphin"; }
}
